body{
    background-image: url('https://www.hawaiimagazine.com/sites/default/files/sites/default/files/Hawaiian-food-ThinkstockPhotos-488006550.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: rgb(185, 20, 20);
    font-size: 100px;
    text-align: center;
}
.content-container{
    display: flex;
}
.calcWrapper{
    width: 100%;
}
#inputBox{
    width: 335px;
    min-height: 50px;
    background: beige;
    color: rgb(185, 20, 20);
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    text-align: right;
}
button{
    font-size: 30px;
    color: green;
    height: 60px;
    width: 73px;
    background: beige;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    border-radius: 10px;
}
button:hover{
    background: rgb(185, 20, 20);
    transition: all 500ms ease;
}
#clear{
    font-size: 18px;
}
#getbal, #deposit, #withdraw{
    font-size: 18px;
    width: 160px;
}
.menu{
    display: flex;
    width: 100%;
    height: 60vh;
    flex-wrap: wrap;
    color: rgb(185, 20, 20);
    font-size: 30px;
    flex-direction: column;
    align-items: flex-end;
}
.space{
    width: 100%;
}
.menuItem{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.menuImg:hover{
    height: 120%;
    transition: all 500ms ease;
}
.menu span{
    background: beige;
    border-radius: 5px;
}
.menuImg{
    /* display: flex;
    justify-content: right; */
    width: 100px;
    border-radius: 5px;
}